src/main/mule/jmsconnector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="6256c978-4fa8-455a-bfb4-ee7a602a4864" >
		<jms:active-mq-connection username="admin" password="admin">
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72375101-f4ea-4e2d-aa4d-4afc63834f17" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jmsconnectorFlow" doc:id="32e57088-b19f-425b-a177-dc7224df1457" >
		<http:listener doc:name="Listener" doc:id="43aa3b30-d167-4335-9eac-d92b20e9e794" config-ref="HTTP_Listener_config" path="/jms"/>
		<jms:publish doc:name="Publish" doc:id="9fd796e8-8eb9-4bfc-ac5e-3f22c6b03638" config-ref="JMS_Config" destination="testTopic" destinationType="TOPIC">
			<jms:message outboundContentType="application/json" />
		</jms:publish>
	</flow>
	<flow name="jmsconnectorFlow1" doc:id="945a43f2-07e0-48b7-ac17-c1fd3936b989" >
		<jms:listener doc:name="On New Message" doc:id="98560bdb-b8c2-4dd6-8688-014a2a9e9fcf" config-ref="JMS_Config" destination="testTopic" inboundContentType="application/json" numberOfConsumers="1">
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="601f0f82-81f0-4655-963a-f3e022784b4f" message="#[payload]"/>
	</flow>
</mule>
